<!DOCTYPE HTML>
<!--
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Data Spark lab</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"><!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]--><!--script src="js/jquery.min.js"></script><script src="js/jquery.dropotron.min.js"></script><script src="js/skel.min.js"></script><script src="js/skel-layers.min.js"></script><script src="js/init.js"></script><noscript>
			<link rel="stylesheet" href="css/skel.css"><link rel="stylesheet" href="css/style.css"><link rel="stylesheet" href="css/style-wide.css"></noscript--><!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style-wide.css') }}">
	
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/skel-layers.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/init.js') }}"></script>
	<!--noscript>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style-wide.css') }}">
	</noscript-->
</head>
<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="{{ url_for('index') }}">Data Spark Lab</a></h1>
							<span class="tag">AI Enabled</span>
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="{{ url_for('index') }}">Homepage</a></li>
								<li><a href="{{ url_for('left_sidebar') }}">Our AI services</a></li>
								<li><a href="{{ url_for('right_sidebar') }}">AI enabled data analysis services</a></li>
								<li><a href="{{ url_for('no_sidebar') }}">About us</a></li>
							</ul>
						</nav></div>

				<!-- Banner -->
					<div id="banner" class="container">
						<section><p><strong>DataSparkLab</strong>,  offering analytics solutions enhanced by AI, tailored to meet diverse business needs. Through advanced analytics tools and AI-powered insights, DataSparkLab supports organizations in making data-driven decisions, optimizing processes, and unlocking new growth opportunities. Whether it’s predictive modeling, trend analysis, or custom data solutions, DataSparkLab’s services empower users to harness the full potential of their data with cutting-edge technology and expertise. Check out more of our stuff at <a href="http://templated.co">our site</a> or follow us on <a href="http://twitter.com/templatedco">Twitter</a>.</p>
							<a href="#" class="button medium">Read More</a>
						</section></div>

				<!-- Extra -->
					<div id="extra">
						<div class="container">
							<div class="row no-collapse-1">
								<section class="4u"><a href="#" class="image featured"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" width="368" height="160"></a>
									<div class="box">
										<p>Transform historical data into actionable forecasts with AI-driven predictive models for smarter decision-making.</p>
										<a href="#" class="button">Read More</a> </div>
								</section><section class="4u"><a href="#" class="image featured"><img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" width="368" height="160"></a>
									<div class="box">
										<p>Uncover insights at a glance through interactive, real-time visualizations tailored to business needs.</p>
										<a href="#" class="button">Read More</a> </div>
								</section><section class="4u"><a href="#" class="image featured"><img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" width="368" height="160"></a>
									<div class="box">
										<p>Analyze text data at scale, extracting insights from customer feedback, documents, and social media.</p>
										<a href="#" class="button">Read More</a> </div>
								</section></div>
							<div class="row no-collapse-1">
								<section class="4u"><a href="#" class="image featured"><img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" width="368" height="160"></a>
									<div class="box">
										<p>Personalize user experiences by suggesting relevant content, products, or services based on AI-powered recommendations.</p>
										<a href="#" class="button">Read More</a> </div>
								</section><section class="4u"><a href="#" class="image featured"><img src="{{ url_for('static', filename='images/pic05.jpg') }}" alt="" width="368" height="160"></a>
									<div class="box">
										<p>Identify and respond to unusual data patterns in real time, minimizing risks in financial, operational, or security data.</p>
										<a href="#" class="button">Read More</a> </div>
								</section><section class="4u"><a href="#" class="image featured"><img src="{{ url_for('static', filename='images/pic06.jpg') }}" alt="" width="368" height="160"></a>
									<div class="box">
										<p>Gauge customer sentiment from text data, helping businesses understand and act on feedback proactively.</p>
										<a href="#" class="button">Read More</a> </div>
								</section></div>
						</div>
					</div>

				<!-- Main -->
					<div id="main">
						<div class="container">
							<div class="row"> 
								
								<!-- Content -->
								<div class="6u">
									<section><ul class="style"><li class="fa fa-wrench">
												<h3>Customise AI Tools</h3>
												<span>"Developing custom AI tools crafted to your specific needs and preferences, providing dynamic, personalized requirement and adaptable solutions that grow with your objectives.</span> </li>
											<li class="fa fa-leaf">
												<h3>Report Aggregation</h3>
												<span>Automated solutions for consolidating reports from various platforms, delivering a comprehensive aggregated analysis for streamlined insights.</span> </li>
										</ul></section></div>
								<div class="6u">
									<section><ul class="style"><li class="fa fa-cogs">
												<h3>Data Security</h3>
												<span>Ensuring robust data security to protect sensitive information, with advanced safeguards that prioritize privacy and regulatory compliance."</span> </li>
											<li class="fa fa-road">
												<h3>Webscraping Abilities</h3>
												<span>Automated web scraping solutions to gather and structure research data from diverse sources, supporting advanced insights and informed decision-making."</span> </li>
										</ul></section></div>
							</div>
						</div>
					</div>

	</div>

	<!-- Footer -->
		<div id="footer" class="wrapper style2">
			<div class="container">
				<section><header class="major"><h2>Interested in our Services</h2>
						<span class="byline">Please drop a message for enquiry</span>
					</header><form method="post" action="#">
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="name" id="name" placeholder="Name"></div>
						</div>
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="email" id="email" placeholder="Email"></div>
						</div>
						<div class="row half">
							<div class="12u">
								<textarea name="message" id="message" placeholder="Message"></textarea></div>
						</div>
						<div class="row half">
							<div class="12u">
								<ul class="actions"><li>
										<input type="submit" value="Send Message" class="button alt"></li>
								</ul></div>
						</div>
					</form>
				</section></div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<br><ul class="icons"><li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
					</ul></div>
		</div>
		<div class="copyright">
			Copyright @ <a href="https://datasparklab/">Data Spark Lab</a>
		</div>

	</body></html>
